<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '153062242154030',
      cookie     : true,
      xfbml      : true,
      version    : '2.12'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<script>
FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
});
</script>

<script>
FB.login(function(response) {
  // handle the response
}, {scope: 'public_profile,email,hometown'});
</script>